.box{
	background-color: #f5f5f5;
}
.box-text{
	height: auto;
	
	
}

.box-text__content p{
	padding: 15px 0;


}
.box-text__content img{
	color:red;
	
}
.box-text__content a{
	color:red;
	font-size: 15pt;
	padding: 20px 0;
}

.list-box{
	width: 100%;
	height:auto;
	color:#fff;
}
.list-box__item{
	margin: 0 auto;
 	display: flex;
 	flex-wrap: wrap;
 	flex-direction: row;
 	height:200px;
}
.box__icon{
	background-color: #fff;
 	margin: 10px;
	color: white;
	height: 190px;
	width: 313px;
	text-align: center;
	line-height: 50px;
}
.box__icon img{
	margin-top: 40px;
	width: 170px; 
	height: 85px;
}
.box__icon p{
	color:black;
	font-size: 20pt;
}